body {
	background-color: black;
	color: white;
}

ul li a {
	text-decoration: none;
	color: white;
	flex-wrap: nowrap;
}

header {
	display: flex;
	flex-direction: row;
	height: 5vh;
	width: auto;
}

#leftpart {
	border: 1px white solid;
	height: 100%;
	display: flex;
	flex: 2;
	justify-content: flex-start;
}

nav ul li {
	list-style-type: none;
}

nav {
	width: 40%;
}

.logoyoutube {
	height: 80%;
}

#searchbar {
	border: 1px white solid;
	height: 100%;
	display: flex;
	flex: 8;
	justify-content: center;
}

input {
	height: 70%;
	width: 50%;
	background-color: black;
	color: white;
}
.searchbutton {
	height: 70%;
	width: auto;
	background-color: black;
	color: grey;
}

#rightpart {
	border: 1px white solid;
	height: 100%;
	display: flex;
	flex: 2;
}


section {
	border: 1px yellow solid;
	height: 92vh;
	display: flex;
	flex-direction: row;
}

article {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	border: 1px orange solid;
	width: 75vw;
}

#videopart {
	border: 1px white solid;
	margin-right: 10px;
	width: 97%;
	display: flex;
	flex: 10;
}

#titlepart {
	border: 1px white solid;
	margin-right: 10px;
	width: 97%;
	display: flex;
	flex: 0.5;
}


.elementtitlepart:nth-child(1) {
	display: flex;
	flex-direction: column;
	width: 30%;
}

.elementtitlepart:nth-child(2) {
	display: flex;
	justify-content: flex-end;
	align-items: end;
	width: 70%;
}

#descriptionpart {
	border: 1px white solid;
	margin-right: 10px;
	width: 97%;
	display: flex;
	justify-content: center;
	flex: 3;
}

.elementdescriptionpart {
	display: flex;
	width: 50%;
}

.fp_youtube_logo {
	height: 5%;
	border-radius: 55%;
}

.abbutton {
	height: 30%;
	width: auto;
	background-color: red;
	color: white;
	border-radius: 10%;
}

.elementdescriptionpart:nth-child(2) {
	display: flex;
	align-items: flex-start;
	margin-left: 5px;
	flex-direction: column;
}

.elementdescriptionpart:nth-child(3) {
	display: flex;
	justify-content: flex-end;
	margin-top: 15px;
}

aside {
	border: 1px green solid;
	width: 25vw;
}